<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="/include/head"></head>
<body>
<div class="layui-fluid">
    <fieldset class="layui-elem-field">
        <legend>资金统计</legend>
        <div class="layui-field-box">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside"
                             lay-arrow="none" style="width: 100%; height: 90px;">
                            <div carousel-item="">
                                <ul class="layui-row layui-col-space10 layui-this">
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>初始资金</h3>
                                            <p><cite th:text="${wallet.initialAmount}">999</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>当前资金</h3>
                                            <p><cite th:text="${wallet.amount}">99999</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>提现资金</h3>
                                            <p><cite th:text="${wallet.withdraw}">9999</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>开仓建议</legend>
        <div class="layui-field-box">
            <div class="layui-input-inline layui-show-xs-block">
                资金总量:
            </div>
            <div class="layui-input-inline layui-show-xs-block">
                <input class="layui-input" style="width: 150px" name="capital" id="capital" th:value="${wallet.amount}"
                       onchange="initTable()">
            </div>
            <!--            <div class="layui-input-inline layui-show-xs-block">-->
            <!--                单笔资金回撤:-->
            <!--            </div>-->
            <!--            <div class="layui-input-inline layui-show-xs-block">-->
            <!--                <input class="layui-input" style="width: 50px" name="retreat" id="retreat" value="5">-->
            <!--            </div>-->
            <div class="layui-input-inline layui-show-xs-block" style="color: red">
                <!--                标准仓为最接近资金回撤百分比的数量,-->
                <!--                清仓为最接近资金回撤百分的50%,-->
                <!--                重仓为最接近资金回撤百分的150%-->
                显示的开仓手数为最接近止损比例的手数
            </div>
            <table class="layui-table" id="strategy-table">
                <thead>
                <tr align="center">
                    <th rowspan="2" style="width: 80px">品种</th>
                    <th rowspan="2" style="width: 100px">最大开仓</th>
                    <th colspan="6" align="center" position1="6">重仓(止损后资金回撤6%)</th>
                    <th colspan="6" align="center" position2="4">标准(止损后资金回撤4%)</th>
                    <th colspan="6" align="center" position3="2">轻仓(止损后资金回撤2%)</th>

                </tr>
                <tr>
                    <th colspan="2">小止损</th>
                    <th colspan="2">中止损</th>
                    <th colspan="2">大止损</th>
                    <th colspan="2">小止损</th>
                    <th colspan="2">中止损</th>
                    <th colspan="2">大止损</th>
                    <th colspan="2">小止损</th>
                    <th colspan="2">中止损</th>
                    <th colspan="2">大止损</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td price="6.774">恒指</td>
                    <td margin="407"></td>
                    <td>30</td>
                    <td position="position1"></td>
                    <td>40</td>
                    <td position="position1"></td>
                    <td>50</td>
                    <td position="position1"></td>
                    <td>30</td>
                    <td position="position2"></td>
                    <td>40</td>
                    <td position="position2"></td>
                    <td>50</td>
                    <td position="position2"></td>
                    <td>30</td>
                    <td position="position3"></td>
                    <td>40</td>
                    <td position="position3"></td>
                    <td>50</td>
                    <td position="position3"></td>
                </tr>
                <tr>
                    <td price="30.97">德指</td>
                    <td margin="743.22"></td>
                    <td>10</td>
                    <td position="position1"></td>
                    <td>15</td>
                    <td position="position1"></td>
                    <td>20</td>
                    <td position="position1"></td>
                    <td>10</td>
                    <td position="position2"></td>
                    <td>15</td>
                    <td position="position2"></td>
                    <td>20</td>
                    <td position="position2"></td>
                    <td>10</td>
                    <td position="position3"></td>
                    <td>15</td>
                    <td position="position3"></td>
                    <td>20</td>
                    <td position="position3"></td>
                </tr>
                <tr>
                    <td price="20">纳指</td>
                    <td margin="300"></td>
                    <td>10</td>
                    <td position="position1"></td>
                    <td>15</td>
                    <td position="position1"></td>
                    <td>20</td>
                    <td position="position1"></td>
                    <td>10</td>
                    <td position="position2"></td>
                    <td>15</td>
                    <td position="position2"></td>
                    <td>20</td>
                    <td position="position2"></td>
                    <td>10</td>
                    <td position="position3"></td>
                    <td>15</td>
                    <td position="position3"></td>
                    <td>20</td>
                    <td position="position3"></td>
                </tr>
                <tr>
                    <td price="10">黄金</td>
                    <td margin="300"></td>
                    <td>30</td>
                    <td position="position1"></td>
                    <td>40</td>
                    <td position="position1"></td>
                    <td>50</td>
                    <td position="position1"></td>
                    <td>30</td>
                    <td position="position2"></td>
                    <td>40</td>
                    <td position="position2"></td>
                    <td>50</td>
                    <td position="position2"></td>
                    <td>30</td>
                    <td position="position3"></td>
                    <td>40</td>
                    <td position="position3"></td>
                    <td>50</td>
                    <td position="position3"></td>
                </tr>
                <!--                <tr>-->
                <!--                    <td price="25">白银</td>-->
                <!--                    <td margin="300"></td>-->
                <!--                    <td>10</td>-->
                <!--                    <td position="position1"></td>-->
                <!--                    <td>15</td>-->
                <!--                    <td position="position1"></td>-->
                <!--                    <td>20</td>-->
                <!--                    <td position="position1"></td>-->
                <!--                    <td>10</td>-->
                <!--                    <td position="position2"></td>-->
                <!--                    <td>15</td>-->
                <!--                    <td position="position2"></td>-->
                <!--                    <td>20</td>-->
                <!--                    <td position="position"></td>-->
                <!--                    <td>10</td>-->
                <!--                    <td position="position3"></td>-->
                <!--                    <td>15</td>-->
                <!--                    <td position="position3"></td>-->
                <!--                    <td>20</td>-->
                <!--                    <td position="position3"></td>-->
                <!--                </tr>-->
                <!--                <tr>-->
                <!--                    <td price="12.5">铜</td>-->
                <!--                    <td margin="300"></td>-->
                <!--                </tr>-->
                <tr>
                    <td price="10">原油</td>
                    <td margin="300"></td>
                    <td>30</td>
                    <td position="position1"></td>
                    <td>40</td>
                    <td position="position1"></td>
                    <td>50</td>
                    <td position="position1"></td>
                    <td>30</td>
                    <td position="position2"></td>
                    <td>40</td>
                    <td position="position2"></td>
                    <td>50</td>
                    <td position="position2"></td>
                    <td>30</td>
                    <td position="position3"></td>
                    <td>40</td>
                    <td position="position3"></td>
                    <td>50</td>
                    <td position="position3"></td>
                </tr>
                <tr>
                    <td price="10">天然气</td>
                    <td margin="300"></td>
                    <td>30</td>
                    <td position="position1"></td>
                    <td>40</td>
                    <td position="position1"></td>
                    <td>50</td>
                    <td position="position1"></td>
                    <td>30</td>
                    <td position="position2"></td>
                    <td>40</td>
                    <td position="position2"></td>
                    <td>50</td>
                    <td position="position2"></td>
                    <td>30</td>
                    <td position="position3"></td>
                    <td>40</td>
                    <td position="position3"></td>
                    <td>50</td>
                    <td position="position3"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">最新一周PV/UV量</div>
                <div class="layui-card-body" style="min-height: 280px;">
                    <div id="main2" class="layui-col-sm12" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">用户来源</div>
                <div class="layui-card-body" style="min-height: 280px;">
                    <div id="main3" class="layui-col-sm12" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main2'));

    // 指定图表的配置项和数据
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        grid: {
            top: '5%',
            right: '2%',
            left: '1%',
            bottom: '10%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: 'PV',
                type: 'line',
                areaStyle: {normal: {}},
                data: [120, 132, 101, 134, 90, 230, 210],
                smooth: true
            },
            {
                name: 'UV',
                type: 'line',
                areaStyle: {normal: {}},
                data: [45, 182, 191, 234, 290, 330, 111310],
                smooth: true,

            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);


    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main3'));

    // 指定图表的配置项和数据
    var option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['德指', '恒指', '纳指', '黄金', '原油', '天然气', '铜']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {value: 335, name: '德指'},
                    {value: 310, name: '天然气'},
                    {value: 310, name: '铜'},
                    {value: 310, name: '恒指'},
                    {value: 234, name: '纳指'},
                    {value: 135, name: '黄金'},
                    {value: 1548, name: '原油'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script>
    function initTable() {
        // 计算最大开仓数量
        $("td[margin]").each(function () {
            var margin = $(this).attr("margin");
            $(this).text(Math.floor($("#capital").val() / margin));
        });

        // 仓位管理
        $("td[position]").each(function () {
            // 通过前一个节点获取止损点位
            var limit = $(this).prev().text();
            // 获取品种的单价
            var price = $(this).parent().find("[price]").attr("price");
            // 获取最大开仓数量
            var max = $(this).parent().find("[margin]").text();

            var num = 0;

            var position = $(this).attr("position");

            var percentage = $("th[" + position + "]").eq(0).attr(position);
            // 计算最接近止损比例的数量
            if (max > 1) {
                for (var i = 1; i < max; i++) {
                    var ddd = limit * price * i * 100 / $("#capital").val();
                    if (ddd > percentage) {
                        num = i;
                        break;
                    }
                }
                if (num > 1) {
                    var tmp1 = parseFloat(limit * price * num / $("#capital").val() * 100).toFixed(2);
                    var tmp2 = parseFloat(limit * price * (num - 1) / $("#capital").val() * 100).toFixed(2);
                    if (tmp1 - percentage > percentage - tmp2) {
                        num -= 1;
                    }
                }
            } else {
                num = max;
            }

            $(this).text(num + "(" + parseFloat(limit * price * num / $("#capital").val() * 100).toFixed(2) + "%)");
        });
    }

    initTable();
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;

    });
</script>

<!-- 表格内部平仓按钮-->
<script type="text/html" id="checkboxTpl">
    {{d.varietyBase.name}}
</script>
</body>
</html>